*{
    margin: 0;
    padding: 0;
}

.container{
    padding-left: 8%;
    padding-right: 8%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    
}

.btn{
    padding: 12px 18px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid red;
    transition: ease 0.5s;
    text-decoration: none;
}

.btn:hover{
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card{
    width: 100px;
    height: 150px;
    display: inline-block;
    background-image: url(./pitak.png);
    border-radius: 10px;
    padding:15px 25px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border: 1px solid red;
    position: relative;
    transition: ease 0.5s;
    margin: 10px 15px;
}

.card:hover{
    transform: translateY(-10px);
    border-color: #fff;
}

.card .card-head{
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    border-radius: 6px;
    padding: 6px;
}

.card .card-button{
    position: absolute;
    bottom: 26px;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

nav ul{
    list-style: none;
    display: flex;
    column-gap: 16px;
    font-size: 30px;
}

nav ul li a{
    color: #ec0303;
    text-decoration: none;
    transition: ease 0.5s;
}

nav ul li a:hover{
    color: #2bff00;
}

.card.card-2{
      width: 100px;
    height: 150px;
    display: inline-block;
    background-image: url(./pitak.png);
    border-radius: 10px;
    padding:15px 25px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border: 1px solid red;
    position: absolute;
    transition: ease 0.5s;
    margin: -75px 170px;
}

.card.card-1{
     width: 100px;
    height: 150px;
    display: inline-block;
    background-image: url(./pitak.png);
    border-radius: 10px;
    padding:15px 25px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border: 1px solid red;
    position: relative;
    transition: ease 0.5s;
    margin: -75px 170px;
}

.card.card-0{
    width: 100px;
    height: 150px;
    display: inline-block;
    background-image: url(./pitak.png);
    border-radius: 10px;
    padding:15px 25px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border: 1px solid red;
    position: relative;
    transition: ease 0.5s;
    margin: 0;
}
